<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
    {% block content %}
    <div class="formwrapper">

        <h2><img src="/AlpacaLogo128.png" width="128" height="101" align="right" />{{title}}</h2>

        <p>This is the form you would use to set up cross-cutting / server-level configuration items. 
        For example you could configure the IPaddress(es) and port(s) on which the server answers, enable
        and disable individual devices provided through the server, etc.</p>

        <form method=post>

            {{ form.hidden_tag() }}  <!-- CSRF protection with SECRET_KEY -->

            <!--
            <div class="update">
                <input id="update" type="submit" value="Submit">
            </div>
             -->
        </form>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>