<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>

<body>
    <div id="page">
        <div id="pagetop">
            <h1>Alpaca Rotator Simulator</h1>
            <div class="links">
                <ul>
                    <!-- WTF? The list items display in reverse order along the top -->
                    <li>
                        {% if nDev > 1 %}
                            <a href="#javascript">Rotator Setup&nbsp;</a>
                            <select id="seldev">
                                {% for i in rDev %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <a href="/setup/v1/rotator/0/setup">Rotator Setup</a>
                        {% endif %}
                    </li>
                    <li><a href="/setup">Server Setup</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
        
        <div id="header">Nothing special for this simulator</div>
  
<div id="main">
	<div class="content">
        	<div class="main_top">
            	<h1><a href="https://ascom-standards.org/Developer/Alpaca.htm" target="_new"><img src="/AlpacaLogo128.png" width="128" height="101" align="right" margin-left="10" /></a>{{title}}</h1>
            </div>
            
           	<div class="main_body">
				{% block content %}
				<div class="formwrapper">
                    <p>
                        There are {{nDev}} Rotator devices provided by this simulator. This is the form you 
                        would use to set up cross-cutting / server-level configuration items. For example 
                        you could configure the IPaddress(es) and port(s) on which the server answers, enable
                        and disable individual devices provided through the server, etc.
                    </p>
			
					<form method=post>
			
						{{ form.hidden_tag() }}  <!-- CSRF protection with SECRET_KEY -->
						<!--
					<div class="update">
						<input id="update" type="submit" value="Submit">
					</div>
					 -->
					</form>
				</div>
			
				{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
				{% endfor %}
				{% endblock %}
            </div>
            
			</div>
            <div class="clear">&nbsp;</div>
        </div>
		<div id="footer">
        	<p>Testing 1 2 3</p>
		</div>        
    </div>
</body>
</html>
